apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-deployment
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
        - name: hello
          image: rancher/hello-world
          ports:
            - containerPort: 80
