replicaCount: 2
image:
  repository: ghcr.io/juliane-farmer/github-actions-kubernetes/hello
  tag: latest
  pullPolicy: Always
service:
  type: NodePort
  port: 80
  targetPort: 8080
  nodePort: 30080
