name: CI/CD to Kubernetes with Helm

on:
  push:
    branches: ["main"]

env:
  IMAGE: ghcr.io/juliane-farmer/github-actions-kubernetes

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build image
      run: docker build -t $IMAGE:latest .

    - name: Push image
      run: docker push $IMAGE:latest

    - name: Setup kubectl
      uses: azure/setup-kubectl@v3

    - name: Setup Helm
      uses: azure/setup-helm@v3

    - name: Configure kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG_DATA }}" > ~/.kube/config

    - name: Helm upgrade
      run: |
        helm upgrade --install hello-release ./hello-chart \
          --namespace demo \
          --create-namespace \
          --set image.repository=$IMAGE \
          --set image.tag=latest \
          --set image.pullPolicy=Always \
          --set imagePullSecrets[0].name=ghcr-secret
